.HeaderImage {
  width: 90vw;
  height: 100vh;
  background-image: url('./asset/backgroundJapan.jpg');
  background-size: cover;
  


}
.navBar {
  width: 100vw;
  height: 50px;
  display: flex;
  justify-content: flex-end;
}
.Header-container {
  display: flex;
  flex-direction: column;
  height: 50vh;
  width: 50vw;
  justify-content: space-around;
  padding-left: 100px;
}
.header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

.header-button{
  border-radius: 10%;
  width: 300px;
  height: 50px;
  border: 0.1rem ;
}

.search-bar {
  display: flex;
  width: 80vw;
  border: 1px solid #C8C8C8;
  border-radius: 5px;
  height: 100px;
  background-color: #e7edf2;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}



